

body {
    font-family: Arial, sans-serif;
    background-image: url('images/1.jpg');
    background-size: cover; /* Optional: makes the image cover the entire element */
    background-position: center; /* Optional: centers the image */
    background-repeat: no-repeat;
    /* background-color: #ff7200; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #ff7200;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #c5c5c5;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #ff7200;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #c95b01;
}

p {
    margin-top: 20px;
    color: #c5c5c5;
}

p a {
    color: #ff7200;
    text-decoration: none;
}

p a:hover{
    color: #9a4500;
}

.error{
    color: #c5c5c5;
}